<% data.forEach((item)=> { %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Class Registration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/client/get_open_class/<%=item.client_id%>">Regist Class</a>
            <a class="dropdown-item" href="/client/get_pending_class/<%=item.client_id%>">Cancel Registration</a>
            <a class="dropdown-item" href="/client/registed_class/<%=item.client_id%>">List Class</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/api/classes/listRegisteredClass/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Class 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/client/registed_class/<%=item.client_id%>">List of registered classes </a>
            <a class="dropdown-item" href="/client/<%=item.client_id%>/calender">Calendar study</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn my-2 my-sm-0" style="color:white;border-color: white;" href="/client/logout">Log Out</a>
      </form>
    </div>
    </nav>
  <% }) %>