<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login view</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const token = '<%=token%>'
      localStorage.setItem('token', token)
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <form action="/api/client/" method="POST">
                <div class="form-row">
                    <div class="col-12 mt-3">Profile</div>
                    <% data.forEach((item)=> { %>
                    <div>
                      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Class Registration
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/client/getOpenClass/<%=item.client_id%>">Regist Class</a>
                                <a class="dropdown-item" href="/clientcalender/<%=item.client_id%>">Cancel Registration</a>
                                <a class="dropdown-item" href="/admin/allClass?status=open">List Class</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="/api/classes/listRegisteredClass/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Class 
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/client/registedClass/<%=item.client_id%>">List of registered classes </a>
                                <a class="dropdown-item" href="#">Calendar study</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </nav>
                    </div>
                    <% }) %>
                    <table class="table table-striped">
                      <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Email</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% data.forEach((item)=> { %>
                          <tr>
                            <th scope="row"><%= item.client_id %></th>
                            <td><%= item.client_email %></td>
                            <td><%= item.firstName %></td>
                            <td><%= item.lastName %></td>
                            <td><%= item.age %></td>
                            <td><%= item.avatar %></td>
                            <td>
                                <a href="/client/updateMeView/<%=item.client_id %>">Edit</a> <br />
                                <a href="/client/updateClientPasswordView/<%=item.client_id %>">Change Password</a>
                              </td>
                          </tr>
                          <!-- <a href="api/calender/<%=item.client_id%>" class="btn btn-primary">View Registration</a> -->
                        <% }) %>
                        </tbody>
                      </table>
                </div>
            </form>
        </div>
    </div>
</body>
</html>